@font-face {
    font-family: 'Inter';
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Inter-Regular.woff2") format("woff2"), url("/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Inter-Medium.woff2") format("woff2"), url("/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/playfairdisplay.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Merriweather-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Montserrat-SemiBold.ttf) format('truetype');
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.55em;
    font-size: 16px;
}

a {
    color: #9376fd;
    text-decoration: none;
    word-break: break-word;
}

a:hover {
    border-bottom: 1.5px solid #9376fd;
}

html,
button,
input,
select,
textarea {
    color: #333;
}

::-moz-selection {
    background: #9376fd;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #9376fd;
    text-shadow: none;
    color: #fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 0px auto 0px auto;
    max-width: 100%;
    display: block;
}

a img {
    border: none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

table {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    background-color: transparent;
    margin-bottom: 1rem;
    overflow-x: auto;
    width: 100%;
}

table th,
table td {
    border-bottom: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
}

table thead th {
    border-bottom: 2px solid #dee2e6;
    vertical-align: bottom;
}

table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.15);
}

table th {
    background-color: #212529;
    border-color: #32383e;
    color: #fff;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 0px;
    font-style: italic;
    font-size: 19px;
    font-family: Georgia, bitstream charter, serif;
    border-left: 3px solid;
    border-color: #9376fd;
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 500;
    line-height: 1.3em;
    margin: 0px 0 20px 0;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.smaller {
    font-size: 70%;
}

ul {
    list-style: disc inside;
}

.post ul li {
    /* margin-bottom: 10px; */
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0px;
    background-color: transparent !important;
}

.highlight {
    /* background: 0 0; */
    padding: 16px !important;
    margin-bottom: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.highlight code {
    background: 0;
    white-space: pre;
    padding: 0 !important;
}

code {
    white-space: nowrap;
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin-top: 50px;
}

.header {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    display: block;
}

.header .avatar {
    float: left;
    margin: 0px 20px 0 0;
}

.header .avatar img {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 100%;
}

.header .flex-block .site-title {
    font-family: 'Playfair Display';
    /* line-height: 0.7em; */
    margin: 0;
}

.header .ico li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.edge-left {
    padding-right: 0px;
}

.site-title a {
    color: #333;
    text-decoration: none !important;
}

.site-title a:hover {
    border-bottom-width: 0px;
}

#subtitle {
    margin-top: 5px;
    font-family: medium-marketing-display-font;
    font-size: 0.8em;
    font-weight: 400;
}

.header {
    height: 110px;
}

.header .site-title {
    /* font-size: 2.5rem !important; */
    font-size: 2.4rem;
    /* line-height: 2.4rem; */
    line-height: 1;
    min-width: 192px;
}

.header .flex-block {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.header nav {
    margin: 0;
    border-top: 1px solid #ccc;
    /* padding-top: 15px; */
}

.header nav ul {
    margin-top: 10px;
    padding: 0;
    min-width: 87px
}

.header nav li {
    display: inline-block;
    list-style: none;
}

.header .menu li {
    margin: 0 30px 0 0;
}

.header .ico a {
    color: #aaa;
}

.header .ico a:hover {
    color: #9376fd;
    border: 0;
}

.flex-block nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
}

.header .flex-block nav ul svg {
    max-height: 20px;
}

.header .flex-block .scheme-toggle {
    height: 100%;
    margin-top: 10px;
}

.header .flex-block .scheme-toggle a svg {
    max-height: 20px;
}

.header .flex-block .scheme-toggle a.dark svg {
    fill: #f8e04f;
    color: #f8e04f;
}

.header .flex-block .scheme-toggle a.light svg {
    fill: grey;
    color: black;
}

.header .flex-block .scheme-toggle a:hover {
    border: 0;
    opacity: 0.6;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 45px;
}

.post-header {
    display: flex;
}

.post-header .meta .date {
    margin-right: 20px;
    width: 64px;
    text-align: center;
}

.post-header .meta .date .day {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 0.45em;
    font-size: 3em;
    display: block;
    margin-bottom: 20px;
}

.post-header .meta .date .rest {
    display: block;
    font-size: 0.75em;
}

.one .post-header h1.title {
    font-family: "Merriweather-Bold";
    font-weight: 700;
}

.one .post-header .matter {
    line-height: 68px;
}

.one .post-header .matter h1 {
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.post .title.small {
    margin: 0 0 10px 0;
}

.post .post-header {
    margin-bottom: 30px;
}

.post .draft-label {
    color: #9376fd;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post .tags a {
    display: inline-block;
    border: 1px solid #9376fd;
    border-radius: 3px;
    padding: 0px 6px;
    color: #9376fd;
    line-height: 20px;
    font-size: 0.85em;
    text-decoration: none;
    margin: 0 10px 0 0;
}

.tags ul.flat li {
    display: inline-block;
}

.list .posts .post-header .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

.footer {
    text-align: right;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #ccc;
    margin-top: 40px;
    padding: 5px 0;
}

.footer a {
    color: #666;
}

.footer a:hover {
    color: #9376fd;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

@media (max-width: 374px) {
    .header .site-title {
        margin-top: 4px !important;
        font-size: 1.75rem !important;
        line-height: 1;
        min-width: 193px;
    }
    #subtitle {
        margin-top: -5px;
    }
    .header {
        margin-bottom: 10px;
    }
}

@media (max-width: 450px) {
    .header {
        margin-bottom: 10px;
    }
    .header nav ul {
        /* margin-top: 0; */
    }
    .header .site-title {
        margin-top: -2px;
        font-size: 2.25rem;
        line-height: 1;
    }
    #subtitle {
        margin-top: -3px;
        /* font-size: 8px;
        margin-bottom: 2px; */
    }
    .header .ico li {
        margin: 0;
        padding: 0;
        padding-left: 5px;
        font-size: 14px;
    }
    .header .menu li {
        margin: 0 10px 0 0;
        font-size: 14px;
    }
    .homepage_avatar {
        width: 100px !important;
        height: 100px !important;
        margin-right: unset;
        margin-left: 10px;
    }
}

@media (max-width: 900px) {
    body {
        padding: 20px;
        font-size: 16px;
    }
    h1 {
        font-size: 1.8rem;
    }
    .header h1 {
        font-size: 1.8rem;
    }
    .one .post-header .matter h1 {
        line-height: 34px;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        /* Override size to larger */
        font-size: 1.2rem;
    }
    .container {
        margin-top: 0px;
    }
    table {
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
        display: block;
        overflow-x: auto;
        width: 100%;
    }
}

.my-photo-about {
    float: left;
    margin-right: 20px;
    width: 40%;
}

.hr-reset {
    clear: both;
    margin-bottom: 20px;
}

.dark .dark\:text-gray-400 {
    /* --tw-text-opacity: 1;
    color:rgba(163, 163, 163, var(--tw-text-opacity)); */
    color: rgb(163, 163, 163) !important;
}

.uppercase {
    text-transform: uppercase;
}

.homepage_cons {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.homepage_avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background: #ccFF;
    margin-left: 10px;
}

.mb-3 {
    font-size: 1.1rem !important;
    margin-bottom: 1.1rem;
}


/* .h1_homepage {
    line-height: 1 !important;
} */